* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  height: 100vh;
  background: linear-gradient(80deg, #1d1c1c, hsla(0, 0%, 13%, 0.829));
}
.container {
  display: flex;
  flex-direction: column;
  width: 800px;
  box-shadow: 3px 3px 10px 5px rgba(145, 143, 143, 0.5);
  gap: 28px;
  border-radius: 33px;
  padding: 30px;
  align-items: center;
  background-image: url('src/assets/WhatsApp Image 2024-10-13 at 8.17.40 AM.jpeg') ;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  border: 1px solid rgb(170, 166, 166);
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.carousel .left {
  padding: 10px;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: rgba(61, 92, 134, 0.548);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.carousel .right {
  border-radius: 100%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  rgba(61, 92, 134, 0.548);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.carousel .left:hover,
.carousel .right:hover {
  background-color:  rgba(61, 91, 134, 0.822);
}
.carousel img {
  width: 480px;
  height: 229px;
  border-radius: 11px;
  box-shadow: 3px 3px 5px 3px gray;
  transition: transform 0.5s ease;
  object-fit: cover;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.493);
}
.container h1 {
  text-align: center;
  font-size: 30px;
}
.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.test p {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.answer {
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
  background-color: rgba(53, 53, 63, 0.733);
  color: white;
  border-radius: 8px;
  border: none;
}
.answer:hover {
  background-color: rgba(53, 53, 63, 0.9);
}
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  background-color: rgba(248, 5, 5, 0.63);
  color: white;
  padding: 11px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.next:hover {
  background-color: rgba(248, 5, 5, 0.8);
}
.answer.correct {
  background-color: rgba(30, 129, 30, 0.877);
}

.answer.incorrect {
  background-color: rgba(228, 49, 49, 0.829);
}
.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
.start {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  background-color: rgba(108, 108, 204, 0.815);
  color: white;
  padding: 11px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.start:hover {
  background-color: rgb(85, 85, 212);
}
@media screen and (max-width:800px){
  .container {
    width: 600px;
  }
}
@media screen and (max-width:630px){
.carousel img {
  width: 350px;
  height: 229px;
  border-radius: 11px;
  box-shadow: 3px 3px 5px 3px gray;
  transition: transform 0.5s ease;
  object-fit: cover;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.493);
}
}
@media screen and (max-width:610px){
  .container {
    width: 500px;
  }
}
@media screen and (max-width:510px){
  .carousel img {
    width: 250px;
    height: 229px;
    border-radius: 11px;
    box-shadow: 3px 3px 5px 3px gray;
    transition: transform 0.5s ease;
    object-fit: cover;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.493);
  }
  .container {
    width: 400px;
  }
}
@media screen and (max-width:410px){
  .carousel img {
    width: 230px;
    height: 229px;
    border-radius: 11px;
    box-shadow: 3px 3px 5px 3px gray;
    transition: transform 0.5s ease;
    object-fit: cover;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.493);
  }
  .container {
    width: 340px;
  }
  .carousel .left, .right{
    width: 30px;
  }
}